[Unit]
Description=Set dynamic hostname on startup.

[Service]
ExecStart=/usr/local/bin/set_unique_hostname.sh
Before=network-pre.target
Wants=network-pre.target

[Install]
WantedBy=multi-user.target
